rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura a CUALQUIER usuario autenticado (incluido anónimo)
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
